<h1>Welcome to the Timetracking app</h1>

<p> created by the Ironhack</p>

<% if current_user %>
  <%= @user_name %>
  <%= link_to "log out", logout_path, method: "delete" %>
  <%= link_to "Projects", projects_path %>
  <% else %>
  <%= link_to "login", login_path %>
  <%= link_to "Contact us!", contact_path %>
  <%= link_to "Foo me", contact_path, id: :foo %>
  <%= link_to "Bar you", contact_path, id: :bar %>
<% end %>
